*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#edf4ff;
}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:18px 8%;

background:white;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.logo{

display:flex;
align-items:center;
gap:10px;
color:#2563eb;

}

nav{

display:flex;
gap:30px;

}

nav a{

text-decoration:none;
color:#333;
font-weight:500;

}

.booking{

padding:60px 8%;

}

.booking-card{

background:white;

display:grid;

grid-template-columns:1fr 1fr;

gap:50px;

padding:40px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.1);

}

.left img{

width:100%;
border-radius:15px;

}

.right h1{

font-size:40px;
margin-bottom:20px;

}

.desc{

color:#666;
line-height:30px;
margin-bottom:20px;

}

.right h2{

color:#2563eb;
margin-bottom:30px;

}

.right span{

font-size:18px;
color:#666;

}

.input-group{

margin-bottom:25px;

}

.input-group label{

display:block;
margin-bottom:8px;
font-weight:600;

}

.input-group input{

width:100%;
padding:15px;
font-size:16px;

border:1px solid #ccc;

border-radius:8px;

}

.summary{

background:#f6f8ff;

padding:20px;

border-radius:10px;

margin-bottom:30px;

}

.summary p{

display:flex;

justify-content:space-between;

margin:10px 0;

font-size:18px;

}

button{

width:100%;

padding:16px;

border:none;

background:#2563eb;

color:white;

font-size:18px;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#1d4ed8;

}

@media(max-width:900px){

.booking-card{

grid-template-columns:1fr;

}

header{

flex-direction:column;
gap:20px;

}

nav{

flex-wrap:wrap;
justify-content:center;

}

}