<<<<<<< HEAD
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#eef4ff;
}

header{
background:#2563eb;
padding:20px;
text-align:center;
color:white;
}

.container{

display:flex;
justify-content:center;
align-items:center;

height:85vh;

}

.payment-box{

width:500px;

background:white;

padding:40px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.1);

}

.payment-box h1{

text-align:center;

color:#2563eb;

margin-bottom:30px;

}

.summary{

background:#f4f7ff;

padding:20px;

border-radius:10px;

margin-bottom:30px;

}

.summary p{

margin:12px 0;

font-size:18px;

}

.payment-options{

display:flex;

flex-direction:column;

gap:15px;

margin:25px 0;

}

label{

font-size:18px;

}

button{

width:100%;

padding:15px;

background:#2563eb;

color:white;

font-size:18px;

border:none;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#1d4ed8;

=======
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#eef4ff;
}

header{
background:#2563eb;
padding:20px;
text-align:center;
color:white;
}

.container{

display:flex;
justify-content:center;
align-items:center;

height:85vh;

}

.payment-box{

width:500px;

background:white;

padding:40px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.1);

}

.payment-box h1{

text-align:center;

color:#2563eb;

margin-bottom:30px;

}

.summary{

background:#f4f7ff;

padding:20px;

border-radius:10px;

margin-bottom:30px;

}

.summary p{

margin:12px 0;

font-size:18px;

}

.payment-options{

display:flex;

flex-direction:column;

gap:15px;

margin:25px 0;

}

label{

font-size:18px;

}

button{

width:100%;

padding:15px;

background:#2563eb;

color:white;

font-size:18px;

border:none;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#1d4ed8;

>>>>>>> 163bcbe0287391a2bb6abdcefadc4e9be556f14f
}