<<<<<<< HEAD
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#eef4ff;
}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:white;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

nav{

display:flex;
gap:25px;

}

nav a{

text-decoration:none;

color:#333;

font-weight:600;

}

.product-container{

display:grid;

grid-template-columns:1fr 1fr;

gap:50px;

padding:70px 8%;

}

.left img{

width:100%;

height:500px;

object-fit:contain;

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.1);

}

.right h1{

font-size:42px;

margin-bottom:15px;

}

.right h2{

color:#2563eb;

font-size:34px;

margin-bottom:20px;

}

.rating{

font-size:20px;

margin-bottom:20px;

}

.description{

color:#666;

line-height:30px;

margin-bottom:30px;

}

.owner{

background:white;

padding:20px;

border-radius:10px;

margin-bottom:25px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.owner p{

margin:10px 0;

}

.availability{

color:green;

font-size:18px;

margin-bottom:25px;

}

#rentBtn{

padding:15px 40px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

font-size:18px;

cursor:pointer;

transition:.3s;

}

#rentBtn:hover{

background:#1d4ed8;

}

.reviews{

padding:20px 8% 70px;

}

.review-card{

background:white;

padding:20px;

border-radius:10px;

margin-top:20px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

@media(max-width:900px){

.product-container{

grid-template-columns:1fr;

}

.left img{

height:350px;

}

=======
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#eef4ff;
}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:white;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

nav{

display:flex;
gap:25px;

}

nav a{

text-decoration:none;

color:#333;

font-weight:600;

}

.product-container{

display:grid;

grid-template-columns:1fr 1fr;

gap:50px;

padding:70px 8%;

}

.left img{

width:100%;

height:500px;

object-fit:contain;

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.1);

}

.right h1{

font-size:42px;

margin-bottom:15px;

}

.right h2{

color:#2563eb;

font-size:34px;

margin-bottom:20px;

}

.rating{

font-size:20px;

margin-bottom:20px;

}

.description{

color:#666;

line-height:30px;

margin-bottom:30px;

}

.owner{

background:white;

padding:20px;

border-radius:10px;

margin-bottom:25px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.owner p{

margin:10px 0;

}

.availability{

color:green;

font-size:18px;

margin-bottom:25px;

}

#rentBtn{

padding:15px 40px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

font-size:18px;

cursor:pointer;

transition:.3s;

}

#rentBtn:hover{

background:#1d4ed8;

}

.reviews{

padding:20px 8% 70px;

}

.review-card{

background:white;

padding:20px;

border-radius:10px;

margin-top:20px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

@media(max-width:900px){

.product-container{

grid-template-columns:1fr;

}

.left img{

height:350px;

}

>>>>>>> 163bcbe0287391a2bb6abdcefadc4e9be556f14f
}